@use '../../utils/utils'

.mondrian
    position: absolute
    background-color: rgb(195, 195, 195)
    @include utils.size(54vw, 37vw)
    @include utils.location(5vw, 10vw)
    display: flex
    border: 2vw solid black

    &__column-left
        background-color: rgb(0, 0, 0)
        @include utils.size(23vw, 37vw)
        display: flex
        flex-direction: column
    &__column-right
        background-color: rgb(255, 255, 255)
        @include utils.size(42vw, 37vw)
        display: flex
        flex-direction: column
.column-left__box--yellow
    @include utils.size(24vw, 60vw)
    background-color: yellow
    border-right: 2vw solid black
    border-bottom: 2vw solid black
.column-left__box--white
    @include utils.size(25vw, 22vw)
    background-color: white
    border-bottom: 2vw solid black
.column-left__box--blue
    @include utils.size(25vw, 14vw)
    background-color: blue

.column__right__box--red
    background-color: red
    @include utils.size(29.1vw, 77vw)
    border-left: 2vw solid black
    border-bottom: 2vw solid black
.column__right__box--white-one
    background-color: white
    @include utils.size(17vw, 12vw)
    border-left: 2vw solid black
    border-right: 2vw solid black
